/**overlay Start**/
.ng-widget-overlay {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(#000,0.8);
  transition: opacity 0.3s;

  &[data-visible=true] {
    opacity: 1;
    z-index: 1001;
  }
  &[data-visible=false] {
    opacity: 0;
    z-index: -1;
  }
}

/**overlay  End**/
